
<div class="card">
  <div class="card-header" style="background-color: lightblue">Gestion Locale</div>

  <div class="card-body">

    <div class="form-group">
      <label>Nom: </label>
      <input type="text" class="form-control" [(ngModel)]="redevable.nom">
    </div>

    <div class="form-group">
      <label>Prenom: </label>
      <input type="text" class="form-control" [(ngModel)]="redevable.prenom">
    </div>

    <div class="form-group">
      <label>Cin: </label>
      <input type="text" class="form-control" [(ngModel)]="redevable.cin">
    </div>

  </div>


  <div class="card-footer">
    <button class="btn btn-outline-dark btn-block" (click)="save()">Save</button>
  </div>
</div>
